/* Definicoes de estilos globais (para todo o projeto) */
html{
    scroll-behavior: smooth;
}
:root {
    --fonte: "Montserrat", sans-serif;

    --background: #070628;
    --card-color: #101034;
    --secondary-color: #F6BE36;
    --font-color: #FFFFFF;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte);
}

body {
    background-color: var(--background);
    color: var(--font-color);
}

section {
    padding: 60px 0;
}

/* Header */
.header-secao {
    text-align: center;
    margin-bottom: 40px;
}

.header-secao h2 {
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.header-secao h2 span {
    color: var(--secondary-color);
}

.divider {
    position: relative;
    width: 250px;
    height: 2px;
    background: linear-gradient(90deg, #080915 0%, var(--secondary-color) 50%, #080915 100%);
    margin: 15px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    background-color: var(--background);
    color: var(--secondary-color);
    padding: 0 8px;
    font-size: 0.8rem;
}
.github-linkedin {
    display: flex;
    aling-items: center;
    gap: 10px;
}
.redes-sociais {
    display: flex;
    gap: 8px;
}
.redes-sociais img {
    width: 25px;
    transition: all 0.3 ease;
}
.redes-sociais a:hover img {
    transform: scale(1.2):
    filter: drop-shadow(0 0 8px #F6BE36);
    cursor: pointer;
}
