.turma {
    display: flex;
    flex-direction: column;
}

.turma .box-turma-superior {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.turma .box-carrossel-fotografias {
    width: 100%;
    height: 350px;
}

.turma .box-lista-alunos {
    width: 100%;
    height: 100px;
}

.box-lista-alunos .lista-alunos {
    display: flex;
    gap: 2rem;
}

.lista-alunos .aluno {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.lista-alunos .aluno .box-img-aluno {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    overflow: hidden;
}

.lista-alunos .aluno .box-img-aluno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}