.turma {
    display: flex;
    flex-direction: column;
}

.turma .box-turma-superior {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.turma .box-carrossel-fotografias {
    width: 100%;
    height: 350px;
}

.turma .box-lista-alunos {
    width: 100%;
    height: 100px;
}