.turma {
    display: flex;
    flex-direction: column;
}

.turma .box-turma-superior {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/banners/banner_turma.jpg);
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    height: 850px;
    padding-top: 100px;
}

.carrossel {
    width: 100%;
    margin: 50px auto;
}

.carrossel-janela {
    width: 100%;
    overflow: hidden;
    cursor: grab;
    padding: 30px 10px;
}


.galeria-polaroid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: nowrap;
    margin-top: 2rem;
    width: max-content;

    user-select: none;
    -webkit-user-select: none;

    transform: translateX(0);
    will-change: transform;
}

.polaroid {
    position: relative;
    z-index: 1;
    width: 540px;
    padding: 25px 25px 60px;
    background: #ffffff;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.polaroid .foto {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.polaroid img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transition: .4s ease;

    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.polaroid:nth-child(1) {
    transform: rotate(-4deg);
}

.polaroid:nth-child(2) {
    transform: rotate(3deg);
}

.polaroid:nth-child(3) {
    transform: rotate(-2deg);
}

.polaroid:nth-child(4) {
    transform: rotate(5deg);
}

.polaroid:nth-child(5) {
    transform: rotate(-3deg);
}

.polaroid:hover {
    transform: rotate(0deg) translateY(-10px) scale(1.05);
    z-index: 10;
}

.polaroid:hover img {
    transform: scale(1.05);
}

.turma .box-lista-alunos {
    width: 100%;
    height: 100px;
    margin-top: 2rem;
}

.box-lista-alunos .lista-alunos {
    display: flex;
    gap: 1.5rem;
    padding-inline: 3%;
}

/* Container do elemento */
.profile-wrapper {
  position: relative;
  display: inline-block;
}

/* Foto que aciona o hover */
.avatar-trigger {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  object-fit: cover;
  cursor: pointer;
}

/* Card Oculto por padrão */
.profile-card {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  width: 330px;
  padding: 24px 20px;
  background-color: var(--background);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 10;
}

.profile-wrapper:hover .profile-card {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.card-info h3 {
  color: var(--secondary-color);
  font-size: 0.95rem;
  font-weight: 700;
  margin: 12px 0 2px 0;
}

.card-info h3:first-child {
  margin-top: 0;
}

.card-info p {
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0;
}

.card-info .formacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 10px 0 10px;
}

.card-info .formacoes .formacao {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 7px 14px;

    border-radius: 999px;

    background: var(--secondary-color);
    color: #fff;

    font-size: 0.78rem;
    font-weight: 600;
    line-height: 1.2;

    text-align: center;
    white-space: nowrap;

    box-shadow:
        0 3px 8px rgba(0, 0, 0, 0.15);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

/* Ícones Sociais */
.social-links {
  display: flex;
  gap: 10px;
  margin: 16px 0;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--secondary-color);
  color: var(--background);
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Rodapé do Card */
.card-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.avatar-mini {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  object-fit: cover;
}

.card-footer h2 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 700;
}

.card-footer span {
  font-size: 0.8rem;
}